<!DOCTYPE html>
<html>

<head>
    <%- include('elements/head') %>
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('elements/navbar') %>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <%- include('elements/sidebar') %>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <%- include('elements/page-title') %>
                        <!-- /.content-header -->

                        <!-- /.content -->
                        <section class="content">
                            <%- body %>
                        </section>
                </div>
                <!-- /.content-wrapper -->
                <%- include('elements/footer') %>

    </div>
    <!-- ./wrapper -->

    <!-- script -->
    <%- include('elements/script') %>

</body>

</html>